In [2]:
import pandas as pd

In [4]:
db = pd.read_csv('/Users/owen/Desktop/code_python/MTHE493-5/data/us_county_population_estimates_by_age_2020_to_2023.csv', encoding='latin1')


db.head(10)

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,1,1,Alabama,Autauga County,1,58809,28698,30111,3491,...,1053,1144,494,650,893,332,561,39.1,37.9,40.2
1,50,1,1,Alabama,Autauga County,2,58915,28760,30155,3504,...,1063,1148,494,654,896,337,559,39.1,37.9,40.2
2,50,1,1,Alabama,Autauga County,3,59203,28782,30421,3441,...,1071,1170,478,692,911,354,557,39.2,38.0,40.3
3,50,1,1,Alabama,Autauga County,4,59726,29030,30696,3463,...,1142,1211,477,734,962,388,574,39.3,38.1,40.4
4,50,1,1,Alabama,Autauga County,5,60342,29277,31065,3617,...,1163,1304,484,820,1036,427,609,39.5,38.3,40.6
5,50,1,3,Alabama,Baldwin County,1,231768,113253,118515,12254,...,4807,5435,2488,2947,4290,1741,2549,43.5,42.4,44.7
6,50,1,3,Alabama,Baldwin County,2,233227,113911,119316,12241,...,4880,5485,2506,2979,4345,1772,2573,43.6,42.5,44.8
7,50,1,3,Alabama,Baldwin County,3,239439,116725,122714,12391,...,5042,5728,2620,3108,4404,1817,2587,43.8,42.6,44.9
8,50,1,3,Alabama,Baldwin County,4,246531,120079,126452,12641,...,5647,6050,2784,3266,4567,1909,2658,43.9,42.8,45.1
9,50,1,3,Alabama,Baldwin County,5,253507,123497,130010,12860,...,6006,6657,3071,3586,4847,2039,2808,44.2,43.0,45.3

In [5]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15720 entries, 0 to 15719
Data columns (total 96 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   SUMLEV           15720 non-null  int64
 1   STATE            15720 non-null  int64
 2   COUNTY           15720 non-null  int64
 3   STNAME           15720 non-null  object
 4   CTYNAME          15720 non-null  object
 5   YEAR             15720 non-null  int64
 6   POPESTIMATE      15720 non-null  int64
 7   POPEST_MALE      15720 non-null  int64
 8   POPEST_FEM       15720 non-null  int64
 9   UNDER5_TOT       15720 non-null  int64
 10  UNDER5_MALE      15720 non-null  int64
 11  UNDER5_FEM       15720 non-null  int64
 12  AGE513_TOT       15720 non-null  int64
 13  AGE513_MALE      15720 non-null  int64
 14  AGE513_FEM       15720 non-null  int64
 15  AGE1417_TOT      15720 non-null  int64
 16  AGE1417_MALE     15720 non-null  int64
 17  AGE1417_FEM      15720 non-null  int64
 18  AGE1824_TOT      15720 non-null  int64
 19  AGE1824_MALE     15720 non-null  int64
 20  AGE1824_FEM      15720 non-null  int64
 21  AGE16PLUS_TOT    15720 non-null  int64
 22  AGE16PLUS_MALE   15720 non-null  int64
 23  AGE16PLUS_FEM    15720 non-null  int64
 24  AGE18PLUS_TOT    15720 non-null  int64
 25  AGE18PLUS_MALE   15720 non-null  int64
 26  AGE18PLUS_FEM    15720 non-null  int64
 27  AGE1544_TOT      15720 non-null  int64
 28  AGE1544_MALE     15720 non-null  int64
 29  AGE1544_FEM      15720 non-null  int64
 30  AGE2544_TOT      15720 non-null  int64
 31  AGE2544_MALE     15720 non-null  int64
 32  AGE2544_FEM      15720 non-null  int64
 33  AGE4564_TOT      15720 non-null  int64
 34  AGE4564_MALE     15720 non-null  int64
 35  AGE4564_FEM      15720 non-null  int64
 36  AGE65PLUS_TOT    15720 non-null  int64
 37  AGE65PLUS_MALE   15720 non-null  int64
 38  AGE65PLUS_FEM    15720 non-null  int64
 39  AGE04_TOT        15720 non-null  int64
 40  AGE04_MALE       15720 non-null  int64
 41  AGE04_FEM        15720 non-null  int64
 42  AGE59_TOT        15720 non-null  int64
 43  AGE59_MALE       15720 non-null  int64
 44  AGE59_FEM        15720 non-null  int64
 45  AGE1014_TOT      15720 non-null  int64
 46  AGE1014_MALE     15720 non-null  int64
 47  AGE1014_FEM      15720 non-null  int64
 48  AGE1519_TOT      15720 non-null  int64
 49  AGE1519_MALE     15720 non-null  int64
 50  AGE1519_FEM      15720 non-null  int64
 51  AGE2024_TOT      15720 non-null  int64
 52  AGE2024_MALE     15720 non-null  int64
 53  AGE2024_FEM      15720 non-null  int64
 54  AGE2529_TOT      15720 non-null  int64
 55  AGE2529_MALE     15720 non-null  int64
 56  AGE2529_FEM      15720 non-null  int64
 57  AGE3034_TOT      15720 non-null  int64
 58  AGE3034_MALE     15720 non-null  int64
 59  AGE3034_FEM      15720 non-null  int64
 60  AGE3539_TOT      15720 non-null  int64
 61  AGE3539_MALE     15720 non-null  int64
 62  AGE3539_FEM      15720 non-null  int64
 63  AGE4044_TOT      15720 non-null  int64
 64  AGE4044_MALE     15720 non-null  int64
 65  AGE4044_FEM      15720 non-null  int64
 66  AGE4549_TOT      15720 non-null  int64
 67  AGE4549_MALE     15720 non-null  int64
 68  AGE4549_FEM      15720 non-null  int64
 69  AGE5054_TOT      15720 non-null  int64
 70  AGE5054_MALE     15720 non-null  int64
 71  AGE5054_FEM      15720 non-null  int64
 72  AGE5559_TOT      15720 non-null  int64
 73  AGE5559_MALE     15720 non-null  int64
 74  AGE5559_FEM      15720 non-null  int64
 75  AGE6064_TOT      15720 non-null  int64
 76  AGE6064_MALE     15720 non-null  int64
 77  AGE6064_FEM      15720 non-null  int64
 78  AGE6569_TOT      15720 non-null  int64
 79  AGE6569_MALE     15720 non-null  int64
 80  AGE6569_FEM      15720 non-null  int64
 81  AGE7074_TOT      15720 non-null  int64
 82  AGE7074_MALE     15720 non-null  int64
 83  AGE7074_FEM      15720 non-null  int64
 84  AGE7579_TOT      15720 non-null  int64
 85  AGE7579_MALE     15720 non-null  int64
 86  AGE7579_FEM      15720 non-null  int64
 87  AGE8084_TOT      15720 non-null  int64
 88  AGE8084_MALE     15720 non-null  int64
 89  AGE8084_FEM      15720 non-null  int64
 90  AGE85PLUS_TOT    15720 non-null  int64
 91  AGE85PLUS_MALE   15720 non-null  int64
 92  AGE85PLUS_FEM    15720 non-null  int64
 93  MEDIAN_AGE_TOT   15720 non-null  float64
 94  MEDIAN_AGE_MALE  15720 non-null  float64
 95  MEDIAN_AGE_FEM   15720 non-null  float64
dtypes: float64(3), int64(91), object(2)
memory usage: 11.5+ MB

In [ ]:
len(db[db['YEAR'] == 5])

3144

# GOOD

## 2020-2023

In [6]:
# Nested dictionary for population data
age_data = {}

# Defining the age buckets and their corresponding age ranges
age_buckets = {
    "0-4": (range(0, 5), ["UNDER5_TOT"]),
    "5-9": (range(5, 10), ["AGE59_TOT"]),
    "10-14": (range(10, 15), ["AGE1014_TOT"]),
    "15-19": (range(15, 20), ["AGE1519_TOT"]),
    "20-24": (range(20, 25), ["AGE2024_TOT"]),
    "25-29": (range(25, 30), ["AGE2529_TOT"]),
    "30-34": (range(30, 35), ["AGE3034_TOT"]),
    "35-39": (range(35, 40), ["AGE3539_TOT"]),
    "40-44": (range(40, 45), ["AGE4044_TOT"]),
    "45-49": (range(45, 50), ["AGE4549_TOT"]),
    "50-54": (range(50, 55), ["AGE5054_TOT"]),
    "55-59": (range(55, 60), ["AGE5559_TOT"]),
    "60-64": (range(60, 65), ["AGE6064_TOT"]),
    "65-69": (range(65, 70), ["AGE6569_TOT"]),
    "70-74": (range(70, 75), ["AGE7074_TOT"]),
    "75-79": (range(75, 80), ["AGE7579_TOT"]),
    "80-84": (range(80, 85), ["AGE8084_TOT"]),
    "85+": (range(85, 101), ["AGE85PLUS_TOT"]),  # Maximum age capped at 100
}

# Process each row
for index, row in db.iterrows():
    year = row.get('YEAR')
    state = row.get('STNAME')
    county = row.get('CTYNAME')

    if not all([year, state, county]):
        continue  # Skip rows with missing key identifiers

    # Create or retrieve nested dictionaries
    year_dict = age_data.setdefault(year, {})
    state_dict = year_dict.setdefault(state, {})
    county_dict = state_dict.setdefault(county, {})

    # Aggregate population for each individual age
    for bucket, (age_range, columns) in age_buckets.items():
        # Total population for the bucket
        bucket_population = sum(row[col] for col in columns if col in row)

        if bucket_population > 0:
            # Distribute the population uniformly across the ages in the range
            distributed_population = round(bucket_population / len(age_range))

            # Assign to individual ages
            for age in age_range:
                county_dict[age] = county_dict.get(age, 0) + distributed_population

# Resulting structure is stored in `age_data`

In [7]:
age_data[5]['Alabama']['Autauga County']

{0: 723,
 1: 723,
 2: 723,
 3: 723,
 4: 723,
 5: 770,
 6: 770,
 7: 770,
 8: 770,
 9: 770,
 10: 798,
 11: 798,
 12: 798,
 13: 798,
 14: 798,
 15: 787,
 16: 787,
 17: 787,
 18: 787,
 19: 787,
 20: 650,
 21: 650,
 22: 650,
 23: 650,
 24: 650,
 25: 719,
 26: 719,
 27: 719,
 28: 719,
 29: 719,
 30: 834,
 31: 834,
 32: 834,
 33: 834,
 34: 834,
 35: 835,
 36: 835,
 37: 835,
 38: 835,
 39: 835,
 40: 785,
 41: 785,
 42: 785,
 43: 785,
 44: 785,
 45: 746,
 46: 746,
 47: 746,
 48: 746,
 49: 746,
 50: 807,
 51: 807,
 52: 807,
 53: 807,
 54: 807,
 55: 790,
 56: 790,
 57: 790,
 58: 790,
 59: 790,
 60: 800,
 61: 800,
 62: 800,
 63: 800,
 64: 800,
 65: 648,
 66: 648,
 67: 648,
 68: 648,
 69: 648,
 70: 509,
 71: 509,
 72: 509,
 73: 509,
 74: 509,
 75: 401,
 76: 401,
 77: 401,
 78: 401,
 79: 401,
 80: 261,
 81: 261,
 82: 261,
 83: 261,
 84: 261,
 85: 65,
 86: 65,
 87: 65,
 88: 65,
 89: 65,
 90: 65,
 91: 65,
 92: 65,
 93: 65,
 94: 65,
 95: 65,
 96: 65,
 97: 65,
 98: 65,
 99: 65,
 100: 65}

## 2010 - 2020

In [9]:
new_db = pd.read_csv('/Users/owen/Desktop/code_python/MTHE493-5/data/CC-EST2020-AGESEX-ALL.csv', encoding='latin1')
new_db.head()

/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,YEAR,POPESTIMATE,POPEST_MALE,POPEST_FEM,UNDER5_TOT,...,AGE7579_FEM,AGE8084_TOT,AGE8084_MALE,AGE8084_FEM,AGE85PLUS_TOT,AGE85PLUS_MALE,AGE85PLUS_FEM,MEDIAN_AGE_TOT,MEDIAN_AGE_MALE,MEDIAN_AGE_FEM
0,50,1,1,Alabama,Autauga County,1,54571,26569,28002,3579,...,705,731,295,436,551,159,392,37,35.9,37.9
1,50,1,1,Alabama,Autauga County,2,54582,26576,28006,3582,...,704,730,294,436,551,159,392,37,35.9,37.8
2,50,1,1,Alabama,Autauga County,3,54761,26667,28094,3575,...,707,743,299,444,556,164,392,37.1,36,37.9
3,50,1,1,Alabama,Autauga County,4,55229,26980,28249,3552,...,727,782,315,467,601,191,410,37.3,36.2,38.4
4,50,1,1,Alabama,Autauga County,5,54970,26830,28140,3405,...,751,834,340,494,632,206,426,37.7,36.4,38.8

In [10]:
# Cleaning the dataset: converting numeric columns to appropriate types
for column in new_db.columns[6:]:  # Starting from column 6 where population data begins
    new_db[column] = pd.to_numeric(new_db[column], errors='coerce')

# Recheck the structure after cleaning
#new_db.info()

# Nested dictionary creation code for the new dataset
age_data_new = {}

# Age buckets (unchanged from the original code)
age_buckets = {
    "0-4": (range(0, 5), ["UNDER5_TOT"]),
    "5-9": (range(5, 10), ["AGE59_TOT"]),
    "10-14": (range(10, 15), ["AGE1014_TOT"]),
    "15-19": (range(15, 20), ["AGE1519_TOT"]),
    "20-24": (range(20, 25), ["AGE2024_TOT"]),
    "25-29": (range(25, 30), ["AGE2529_TOT"]),
    "30-34": (range(30, 35), ["AGE3034_TOT"]),
    "35-39": (range(35, 40), ["AGE3539_TOT"]),
    "40-44": (range(40, 45), ["AGE4044_TOT"]),
    "45-49": (range(45, 50), ["AGE4549_TOT"]),
    "50-54": (range(50, 55), ["AGE5054_TOT"]),
    "55-59": (range(55, 60), ["AGE5559_TOT"]),
    "60-64": (range(60, 65), ["AGE6064_TOT"]),
    "65-69": (range(65, 70), ["AGE6569_TOT"]),
    "70-74": (range(70, 75), ["AGE7074_TOT"]),
    "75-79": (range(75, 80), ["AGE7579_TOT"]),
    "80-84": (range(80, 85), ["AGE8084_TOT"]),
    "85+": (range(85, 101), ["AGE85PLUS_TOT"]),  # Maximum age capped at 100
}

# Process each row
for index, row in new_db.iterrows():
    year = row.get('YEAR')
    state = row.get('STNAME')
    county = row.get('CTYNAME')

    if not all([year, state, county]):
        continue  # Skip rows with missing key identifiers

    # Create or retrieve nested dictionaries
    year_dict = age_data_new.setdefault(year, {})
    state_dict = year_dict.setdefault(state, {})
    county_dict = state_dict.setdefault(county, {})

    # Aggregate population for each individual age
    for bucket, (age_range, columns) in age_buckets.items():
        # Total population for the bucket
        bucket_population = sum(row[col] for col in columns if col in row and pd.notnull(row[col]))

        if bucket_population > 0:
            # Distribute the population uniformly across the ages in the range
            distributed_population = round(bucket_population / len(age_range))

            # Assign to individual ages
            for age in age_range:
                county_dict[age] = county_dict.get(age, 0) + distributed_population

In [11]:
age_data_new[1]['Alabama']['Autauga County']

{0: 716,
 1: 716,
 2: 716,
 3: 716,
 4: 716,
 5: 798,
 6: 798,
 7: 798,
 8: 798,
 9: 798,
 10: 858,
 11: 858,
 12: 858,
 13: 858,
 14: 858,
 15: 858,
 16: 858,
 17: 858,
 18: 858,
 19: 858,
 20: 616,
 21: 616,
 22: 616,
 23: 616,
 24: 616,
 25: 631,
 26: 631,
 27: 631,
 28: 631,
 29: 631,
 30: 666,
 31: 666,
 32: 666,
 33: 666,
 34: 666,
 35: 831,
 36: 831,
 37: 831,
 38: 831,
 39: 831,
 40: 817,
 41: 817,
 42: 817,
 43: 817,
 44: 817,
 45: 866,
 46: 866,
 47: 866,
 48: 866,
 49: 866,
 50: 775,
 51: 775,
 52: 775,
 53: 775,
 54: 775,
 55: 617,
 56: 617,
 57: 617,
 58: 617,
 59: 617,
 60: 555,
 61: 555,
 62: 555,
 63: 555,
 64: 555,
 65: 455,
 66: 455,
 67: 455,
 68: 455,
 69: 455,
 70: 347,
 71: 347,
 72: 347,
 73: 347,
 74: 347,
 75: 250,
 76: 250,
 77: 250,
 78: 250,
 79: 250,
 80: 146,
 81: 146,
 82: 146,
 83: 146,
 84: 146,
 85: 34,
 86: 34,
 87: 34,
 88: 34,
 89: 34,
 90: 34,
 91: 34,
 92: 34,
 93: 34,
 94: 34,
 95: 34,
 96: 34,
 97: 34,
 98: 34,
 99: 34,
 100: 34}

## 2000 - 2010

In [13]:
new_db_2 = pd.read_csv('/Users/owen/Desktop/code_python/MTHE493-5/data/co-est00int-agesex-5yr.csv', encoding='latin1')
new_db_2.head()

,SUMLEV,STATE,COUNTY,STNAME,CTYNAME,SEX,AGEGRP,ESTIMATESBASE2000,POPESTIMATE2000,POPESTIMATE2001,POPESTIMATE2002,POPESTIMATE2003,POPESTIMATE2004,POPESTIMATE2005,POPESTIMATE2006,POPESTIMATE2007,POPESTIMATE2008,POPESTIMATE2009,CENSUS2010POP,POPESTIMATE2010
0,50,1,1,Alabama,Autauga County,0,0,43751.0,44021.0,44889.0,45909.0,46800.0,48366.0,49676.0,51328.0,52405.0,53277.0,54135.0,54571.0,54632
1,50,1,1,Alabama,Autauga County,0,1,3021.0,3029.0,3120.0,3191.0,3192.0,3353.0,3487.0,3492.0,3485.0,3437.0,3584.0,3579.0,3581
2,50,1,1,Alabama,Autauga County,0,2,3622.0,3619.0,3541.0,3596.0,3630.0,3692.0,3719.0,3972.0,4076.0,4091.0,4020.0,3991.0,3991
3,50,1,1,Alabama,Autauga County,0,3,3744.0,3776.0,3896.0,4016.0,4072.0,4166.0,4238.0,4175.0,4220.0,4337.0,4307.0,4290.0,4284
4,50,1,1,Alabama,Autauga County,0,4,3266.0,3297.0,3306.0,3408.0,3578.0,3775.0,4008.0,4247.0,4406.0,4517.0,4611.0,4290.0,4262

In [14]:
# Nested dictionary for the new dataset
age_data_new_2 = {}

# Map AGEGRP to age ranges (5-year intervals)
age_buckets_new = {
    1: range(0, 5),
    2: range(5, 10),
    3: range(10, 15),
    4: range(15, 20),
    5: range(20, 25),
    6: range(25, 30),
    7: range(30, 35),
    8: range(35, 40),
    9: range(40, 45),
    10: range(45, 50),
    11: range(50, 55),
    12: range(55, 60),
    13: range(60, 65),
    14: range(65, 70),
    15: range(70, 75),
    16: range(75, 80),
    17: range(80, 85),
    18: range(85, 101),  # 85+
}

# Process the data
for index, row in new_db_2.iterrows():
    # Retrieve identifiers
    state = row.get('STNAME')
    county = row.get('CTYNAME')
    age_group = row.get('AGEGRP')
    sex = row.get('SEX')

    # We focus only on total population (SEX == 0) and exclude aggregate AGEGRP == 0
    if sex != 0 or age_group == 0:
        continue

    # Iterate through population estimate columns (2000-2010)
    for year_col in [col for col in new_db_2.columns if col.startswith('POPESTIMATE')]:
        year = int(year_col.replace('POPESTIMATE', ''))
        population = row.get(year_col, 0)

        if pd.notnull(population) and population > 0:
            # Create or retrieve nested dictionaries
            year_dict = age_data_new_2.setdefault(year, {})
            state_dict = year_dict.setdefault(state, {})
            county_dict = state_dict.setdefault(county, {})

            # Distribute population across individual ages in the bucket
            if age_group in age_buckets_new:
                ages = age_buckets_new[age_group]
                distributed_population = round(population / len(ages))

                for age in ages:
                    county_dict[age] = county_dict.get(age, 0) + distributed_population

In [ ]:
age_data_new_2[2000]['Alabama']['Autauga County']

606

In [19]:
pop = 0

for i in range(0,101):
    pop += age_data_new_2[2001]['Alabama']['Autauga County'][i]

print(pop)

44883